
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    {% seo %}
      <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <h1>
          <a href="{{ "/" | absolute_url }}">{{ site.title }}</a>
        </h1>

        <p>{{ site.description }}</p>

        
        <h3>Contact:</h3>
        <a href="mailto:rachel@medmonitor.co.nz">rachel@medmonitor.co.nz</a>
        <p></p>
        <a href="https://www.linkedin.com/in/rachel-hodgson-ab7583212/">https://www.linkedin.com/in/rachel-hodgson-ab7583212/</a>
        <p></p>
        <a href="https://github.com/rachel-hodgson">https://github.com/rachel-hodgson</a>

      </header>

      <section>
          {{ content }}
      </section>

      <footer>
        <small>© {{ site.time | date: '%Y' }} {{ site.title }}</small>
      </footer>
    </div>
  </body>
</html>
